Package: com.pookjw.newbattery16
Name: NewBattery16
Version: 1.0
Architecture: iphoneos-arm64
Description: Enable iOS 16 style battery indicator on non-notch iOS devices.
Maintainer: pookjw
Author: pookjw
Section: Tweaks
Depends: firmware (>= 16.0), mobilesubstrate (>= 0.9.5000)
